[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
click-option-group = "*"
platformdirs = "*"
click-config-file = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
bottle = "*"
tabulate = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
